.background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(360deg, #061f33 30%, #48b648 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal {
  min-width: 625px;
  /* border: 1px black solid; */
  color: rgba(0, 0, 0, 0.87);
  /* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
  background-color: #fff;
  border-radius: 4px;
  padding: 30px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal label {
  display: inline-block;
  background-color: #fff;
  transform: translate(8px, 8px);
  padding: 0 5px;
  font-size: 12px;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.brand img {
  height: 60px;
}

.brand h1 {
  font-size: 48px;
  color: rgb(95, 99, 104);
  transform: translateY(-2px);
}

.footer {
  margin-top: 20px;
  color: #ffffff;
  font-size: 10px;
}

.footer a:hover {
  text-decoration: underline;
  font-weight: bolder;
}

.signInButton {
  color: #ffffff;
  font-size: 18px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 19%);
  margin-top: 20px;
  font-family: Roboto;
  border-radius: 3px;
  background-color: #466fb6;
  text-align: center;
  height: 43.5px;
  width: 100%;
}

.signInButton:disabled {
  color: #bdbdbd;
  background-color: #f8f8f8;
  cursor: wait;
}